.t-w {
  width: 900px;
  padding: 20px 0px;
}

.s-p {
  padding: 12px;
}

.s-p {
  padding: 0px 0px 20px 0px;
}

.m-p {
  margin-right: 20px;
}

// table {
//   width: 100%;
// }

// .mat-mdc-form-field {
//   font-size: 14px;
//   width: 100%;
// }

// td,
// th {
//   width: 20%;
// }